<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" parallel="tests" thread-count="6">
    <test name="Test1">
        <classes>
            <class name="CreateEntityTest"/>
        </classes>
    </test>
    <test name="Test2">
        <classes>
            <class name="GetEntityTest"/>
        </classes>
    </test>
    <test name="Test3">
        <classes>
            <class name="GetAllEntitiesTest"/>
        </classes>
    </test>
    <test name="Test4">
        <classes>
            <class name="PatchEntityTest"/>
        </classes>
    </test>
    <test name="Test5">
        <classes>
            <class name="DeleteEntityTest"/>
        </classes>
    </test>
</suite>